<h1 class="board_title"><%= board.escape("title") %></h1>

<ul id="sortable">
  <% board.lists().each(function (list) { %>
    <div class="list-div" id="list_<%= list.get("id") %>">
      <li class="list list<%= list.get("id") %>"
            data-id="<%= list.get("id") %>">
        <h3 class="list_title"><%= list.escape("title") %></h3>
        <button class="delete-list"
            data-id="<%= list.get("id") %>">Delete</button>
      </li>
    </div>
  <% }); %>
</ul>